.vscode/
01_TerminalProject/Show
02_Multifile/prog*
02_Multifile/README
02_Multifile/liboutput*
02_Multifile/*.o
02_Multifile/test_*
04_Debugging/range
04_Debugging/actual_*
05_Regexps/esub
05_Regexps/actual_*
05_Regexps/expected_*
06_Tracing/move
06_Tracing/protected.so
06_Tracing/input_*
06_Tracing/output_*
09_PatchDiff/labyrinth
09_PatchDiff/labyrinth_[0-9]
09_PatchDiff/labyrinth_[0-9].c
